<div class="main-profile" ng-controller="ProfileCtrl as ctrl">
  <div class="profile-body">
    <div class="profile-title">
      My Shopping Cart
    </div>
    <div class="profile-items">
      <div class="discover-popular-items">
        <div class="discover-item" ng-repeat="item in ctrl.popularItems" ng-click="ctrl.GoTo('product/5')">
          <div class="pop-item-image discover-image">
            <img class="pop-item-image" width="250px;" ng-src="{{item.imageUrl}}"/>
          </div>
          <div class="pop-item-middle">
            <div class="pop-item-title">{{item.title}}</div>
            <div class="pop-item-subtitle">{{item.user}}</div>
            <div class="pop-item-description">
              {{item.description}}
            </div>
          </div>
          <div class="pop-item-bottom">
            <div class="meter">
              <span style="width: {{item.percent}}%"></span>
              <div class="meter-precentage">{{item.percent}}%</div>
            </div>
            <div class="pop-item-price">{{item.price}}$</div>
            <div class="pop-item-date">{{item.date}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
