<div class="main-publish" ng-controller="PublishCtrl as ctrl">
  <div class="publish-title">
    Upload your product
  </div>
   <div class="main-content">
     <div class="published-item" ng-class="{'faded-item': publishing}">
       <div class="publish-item-container">
         <input class="publish-image-input" type="file" ng-file-select="ctrl.onFileSelect(ctrl.$files)" >
         <img class="publish-item-image" height="350px;" ng-src="{{product.imageSrc}}" type="file" ng-file-select="ctrl.onFileSelect(ctrl.$files)"/>
       </div>
       <div class="pop-item-middle">
         <input ng-model="product.title" class="publish-item-title empty-input" placeholder="Enter title">
         <div ng-model="product.user" class="publish-item-subtitle">Current user</div>
         <input ng-model="product.description" class="publish-item-description empty-input" placeholder="Enter the product description..">
       </div>
       <div class="pop-item-bottom">
         <div class="publish-item-amount">
           Goals
         </div>
       </div>
       <div class="pop-item-bottom">
         <input ng-model="product.price" class="publish-item-price empty-input" placeholder="Price per product">
         <input type="date" dir="rtl" ng-model="product.expiresAt" class="publish-item-date empty-input" placeholder="Whats your due date">
         <!--<input ng-model="product.date" class="publish-item-date empty-input" type="date">-->
       </div>
     </div>
     <div class="publish-botton" ng-click="Publish();">
       <div ng-if="!publishing">Upload</div>
       <i ng-if="publishing" class="fa fa-cog fa-3x fa-spin"></i>
     </div>
   </div>
   <!-- <div class="">
     {{product}}
   </div> -->
</div>
