<!DOCTYPE html>
<html>
  <head>
    <!-- Inject:css -->
    <link rel="stylesheet" href="src/app.main/main.css">
    <link rel="stylesheet" href="src/app.main/app/app.css">
    <link rel="stylesheet" href="src/app.main/publish/publish.css">
    <link rel="stylesheet" href="src/app.main/discover/discover.css">
    <link rel="stylesheet" href="src/app.main/product/product.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- End Inject -->

    <!-- Inject: Js Components -->
    <script src="src/app.assets/js/angular.min.js"></script>
    <script src="src/app.assets/js/angular-route.min.js"></script>
    <script src="//cdn.backand.net/backand/dist/1.8.1/backand.min.js"></script>
    <!-- End Inject -->

    <!-- Inject:Js Files -->
    <script src="src/index.module.js"></script>
    <script src="src/app.assets/js/upload.js"></script>

    <script src="src/app.main/navigation/navigation.module.js"></script>
    <script src="src/app.main/navigation/navigation.controller.js"></script>

    <script src="src/app.main/app/app.module.js"></script>
    <script src="src/app.main/app/app.controller.js"></script>

    <script src="src/app.main/publish/publish.module.js"></script>
    <script src="src/app.main/publish/publish.controller.js"></script>

    <script src="src/app.main/discover/discover.module.js"></script>
    <script src="src/app.main/discover/discover.controller.js"></script>

    <script src="src/app.main/product/product.module.js"></script>
    <script src="src/app.main/product/product.controller.js"></script>

    <script src="src/app.services/services.module.js"></script>
    <script src="src/app.services/product.service.js"></script>
    <script src="src/app.services/auth.service.js"></script>
    <!-- End Inject -->

    <meta charset="utf-8">
    <title>Geekim 2.0</title>
  </head>
  <body ng-app="TheGratApp">
    <div class="nav-bar" ng-controller="NavCtrl as ctrl">
      <div class="nav-bar-logo" ng-click="ctrl.GoTo('')">
        <img height="45px;" src="src/app.assets/img/rabble-purple.jpg"/>
      </div>
      <div class="nav-bar-items">
        <div class="nav-bar-item" ng-click="ctrl.GoTo('discover')">
          Discover
        </div>
        <div class="nav-bar-item" ng-click="ctrl.GoTo('publish')">
          Publish
        </div>
        <div class="nav-bar-item">
          About us
        </div>
      </div>
      <div class="nav-bar-search">
        <div class="nav-bar-search-item"><i class="fa fa-search"></i></div>
        <input class="nav-bar-search-item empty-input" placeholder="Search">
      </div>
      <div class="nav-bar-login">
        <div ng-if="!ctrl.user" class="nav-bar-login-item" ng-click="ctrl.signIn()">
          <i class="fa fa-facebook-official fa-2x"></i>
        </div>
        <div ng-if="ctrl.user">
          {{ctrl.user.fullName}}
        </div>
      </div>
    </div>

    <div class="main-view" ng-view=></div>
  </body>
</html>
