<div ng-controller="DiscoverCtrl as ctrl" class="main-dicover">
  <div class="publish-title discover-title">
    Discover the best products and deals!
  </div>
  <div class="discover-closest-section discover-section">
    <div class="discover-popular-headline">
      Closest deals
    </div>
    <div class="discover-popular-items">
      <div class="discover-item" ng-repeat="item in ctrl.popularItems" ng-click="ctrl.GoTo('product/5')">
        <div class="pop-item-image discover-image">
          <img class="pop-item-image" width="250px;" src="http://lg.220-electronics.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/2/2/220-volt-kitchenaid-artisan-stand-mixer-pistachio.jpg"/>
        </div>
        <div class="pop-item-middle">
          <div class="pop-item-title">{{item.title}}</div>
          <div class="pop-item-subtitle">{{item.user}}</div>
          <div class="pop-item-description">
            {{item.description}}
          </div>
        </div>
        <div class="pop-item-bottom">
          <div class="meter">
            <span style="width: {{item.percent}}%"></span>
            <div class="meter-precentage">{{item.percent}}%</div>
          </div>
          <div class="pop-item-price">{{item.price}}</div>
          <div class="pop-item-date">{{item.date}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="discover-popular-section discover-section">
    <div class="discover-popular-headline">
      Most popular deals
    </div>
    <div class="discover-popular-items">
      <div class="discover-item" ng-repeat="item in ctrl.popularItems" ng-click="ctrl.GoTo('product/5')">
        <div class="pop-item-image discover-image">
          <img class="pop-item-image" width="250px;" src="http://lg.220-electronics.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/2/2/220-volt-kitchenaid-artisan-stand-mixer-pistachio.jpg"/>
        </div>
        <div class="pop-item-middle">
          <div class="pop-item-title">{{item.title}}</div>
          <div class="pop-item-subtitle">{{item.user}}</div>
          <div class="pop-item-description">
            {{item.description}}
          </div>
        </div>
        <div class="pop-item-bottom">
          <div class="meter">
            <span style="width: {{item.percent}}%"></span>
            <div class="meter-precentage">{{item.percent}}%</div>
          </div>
          <div class="pop-item-price">{{item.price}}</div>
          <div class="pop-item-date">{{item.date}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="discover-tech-section discover-section">
    <div class="discover-popular-headline">
      Best Vegetables deals
    </div>
    <div class="discover-popular-items">
      <div class="discover-item" ng-repeat="item in ctrl.vegItems" ng-click="ctrl.GoTo('product/5')">
        <div class="pop-item-image discover-image">
          <img class="pop-item-image" width="250px;" src="http://pomi.us.com/images/tomatoes.jpg"/>
        </div>
        <div class="pop-item-middle">
          <div class="pop-item-title">{{item.title}}</div>
          <div class="pop-item-subtitle">{{item.user}}</div>
          <div class="pop-item-description">
            {{item.description}}
          </div>
        </div>
        <div class="pop-item-bottom">
          <div class="meter">
            <span style="width: {{item.percent}}%"></span>
            <div class="meter-precentage">{{item.percent}}%</div>
          </div>
          <div class="pop-item-price">{{item.price}}</div>
          <div class="pop-item-date">{{item.date}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="discover-popular-section discover-section">
    <div class="discover-popular-headline">
      Best Fruits deals
    </div>
    <div class="discover-popular-items">
      <div class="discover-item" ng-repeat="item in ctrl.fruitItems" ng-click="ctrl.GoTo('product/5')">
        <div class="pop-item-image discover-image">
          <img class="pop-item-image" width="250px;" src="https://addons.opera.com/media/image-cache/themes/55/68255/1.0-rev1/images/03051a30-adfe-4be6-9964-4e7332476113_details_big.jpe"/>
        </div>
        <div class="pop-item-middle">
          <div class="pop-item-title">{{item.title}}</div>
          <div class="pop-item-subtitle">{{item.user}}</div>
          <div class="pop-item-description">
            {{item.description}}
          </div>
        </div>
        <div class="pop-item-bottom">
          <div class="meter">
            <span style="width: {{item.percent}}%"></span>
            <div class="meter-precentage">{{item.percent}}%</div>
          </div>
          <div class="pop-item-price">{{item.price}}</div>
          <div class="pop-item-date">{{item.date}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
