<div ng-controller="DiscoverCtrl as ctrl" class="main-dicover">
  <div class="publish-title discover-title">
    Discover the best products and deals!
  </div>
  <div class="discover-closest-section discover-section">
    <div class="discover-popular-headline">
      Closest deals
    </div>
    <div class="discover-popular-items">
      <div class="discover-item" ng-repeat="item in ctrl.nearItems" ng-click="ctrl.GoTo('product/',item.id)">
        <div class="pop-item-image discover-image">
          <img class="pop-item-image" height="180px;" width="250px;" ng-src="{{item.imageUrl}}"/>
        </div>
        <div class="pop-item-middle">
          <div class="">
          </div>
          <div class="pop-item-title">{{item.title}}</div>
          <div class="pop-item-subtitle">{{item.user}}</div>
          <div class="pop-item-description">
            {{item.description}}
          </div>
          <div class="" style="margin-top: 2%; color: #f06;">
            {{item.distance}} km away!
          </div>
        </div>
        <div class="pop-item-bottom">
          <div class="meter">
            <span style="width: {{item.percent}}%"></span>
            <div class="meter-precentage">{{item.percent}}%</div>
          </div>
          <div class="pop-item-price">{{item.price}}$</div>
          <div class="pop-item-date">{{item.expiresAt.substring(8,10) - 20}} days to go!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="discover-popular-section discover-section">
    <div class="discover-popular-headline">
      Most popular deals
    </div>
    <div class="discover-popular-items">
      <div class="discover-item" ng-repeat="item in ctrl.popularItems" ng-click="ctrl.GoTo('product/',item.id)">
        <div class="pop-item-image discover-image">
          <img class="pop-item-image" height="180px;" width="250px;" ng-src="{{item.imageUrl}}"/>
        </div>
        <div class="pop-item-middle">
          <div class="">
          </div>
          <div class="pop-item-title">{{item.title}}</div>
          <div class="pop-item-subtitle">{{item.user}}</div>
          <div class="pop-item-description">
            {{item.description}}
          </div>
          <div class="" style="margin-top: 2%; color: #f06;">
            {{item.distance}} km away!
          </div>
        </div>
        <div class="pop-item-bottom">
          <div class="meter">
            <span style="width: {{item.percent}}%"></span>
            <div class="meter-precentage">{{item.percent}}%</div>
          </div>
          <div class="pop-item-price">{{item.price}}$</div>
          <div class="pop-item-date">{{item.expiresAt.substring(8,10) - 20}} days to go!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="discover-tech-section discover-section">
    <div class="discover-popular-headline">
      Best Vegetables deals
    </div>
    <div class="discover-popular-items">
      <div class="discover-item" ng-repeat="item in ctrl.vegItems" ng-click="ctrl.GoTo('product/',item.id)">
        <div class="pop-item-image discover-image">
          <img class="pop-item-image" height="180px;" width="250px;" ng-src="{{item.imageUrl}}"/>
        </div>
        <div class="pop-item-middle">
          <div class="">
          </div>
          <div class="pop-item-title">{{item.title}}</div>
          <div class="pop-item-subtitle">{{item.user}}</div>
          <div class="pop-item-description">
            {{item.description}}
          </div>
          <div class="" style="margin-top: 2%; color: #f06;">
            {{item.distance}} km away!
          </div>
        </div>
        <div class="pop-item-bottom">
          <div class="meter">
            <span style="width: {{item.percent}}%"></span>
            <div class="meter-precentage">{{item.percent}}%</div>
          </div>
          <div class="pop-item-price">{{item.price}}$</div>
          <div class="pop-item-date">{{item.expiresAt.substring(8,10) - 20}} days to go!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="discover-tech-section discover-section">
    <div class="discover-popular-headline">
      Best Fruits deals
    </div>
    <div class="discover-popular-items">
      <div class="discover-item" ng-repeat="item in ctrl.fruitItems" ng-click="ctrl.GoTo('product/',item.id)">
        <div class="pop-item-image discover-image">
          <img class="pop-item-image" height="180px;" width="250px;" ng-src="{{item.imageUrl}}"/>
        </div>
        <div class="pop-item-middle">
          <div class="">
          </div>
          <div class="pop-item-title">{{item.title}}</div>
          <div class="pop-item-subtitle">{{item.user}}</div>
          <div class="pop-item-description">
            {{item.description}}
          </div>
          <div class="" style="margin-top: 2%; color: #f06;">
            {{item.distance}} km away!
          </div>
        </div>
        <div class="pop-item-bottom">
          <div class="meter">
            <span style="width: {{item.percent}}%"></span>
            <div class="meter-precentage">{{item.percent}}%</div>
          </div>
          <div class="pop-item-price">{{item.price}}$</div>
          <div class="pop-item-date">{{item.expiresAt.substring(8,10) - 20}} days to go!</div>
        </div>
      </div>
    </div>
  </div>
</div>
